In [ ]:
import pandas as pd
dataf=pd.read_csv("/content/dataset-30-2-Decision Tree-Zoo.csv")
dataf.head()

  animal_name  hair  feathers  eggs  ...  tail  domestic  catsize  class_type
0    aardvark     1         0     0  ...     0         0        1           1
1    antelope     1         0     0  ...     1         0        1           1
2        bass     0         0     1  ...     1         0        0           4
3        bear     1         0     0  ...     0         0        1           1
4        boar     1         0     0  ...     1         0        1           1

[5 rows x 18 columns]

In [ ]:
x=dataf.drop(['class_type','animal_name'],axis=1)
y=dataf['class_type']

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=156,test_size=0.2)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
my_model = DecisionTreeClassifier(random_state=0)
result=my_model.fit(x_train,y_train)

In [ ]:
prediction=result.predict(x_test)
prediction

array([1, 2, 7, 3, 3, 1, 4, 1, 1, 1, 1, 2, 2, 1, 6, 4, 1, 2, 2, 6, 2])

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,prediction)

1.0

In [ ]:
from sklearn.metrics import confusion_matrix
mat=confusion_matrix(y_test,prediction)
mat

array([[8, 0, 0, 0, 0, 0],
       [0, 6, 0, 0, 0, 0],
       [0, 0, 2, 0, 0, 0],
       [0, 0, 0, 2, 0, 0],
       [0, 0, 0, 0, 2, 0],
       [0, 0, 0, 0, 0, 1]])

In [ ]:
confdf=pd.DataFrame(mat,index=['Actual 0','Actual 1','Actual 2','Actual 3','Actual 4','Actual 5'],columns=['Predicted 0','Predicted 1','Predicted 2','Predicted 3','Predicted 4','Predicted 5'])
confdf

          Predicted 0  Predicted 1  ...  Predicted 4  Predicted 5
Actual 0            8            0  ...            0            0
Actual 1            0            6  ...            0            0
Actual 2            0            0  ...            0            0
Actual 3            0            0  ...            0            0
Actual 4            0            0  ...            2            0
Actual 5            0            0  ...            0            1

[6 rows x 6 columns]

In [ ]:
pred1=result.predict([[0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,1]])
pred1

array([4])